@prefix: 'heima-ui-lesson';
@btnPrefix: ~'@{prefix}-btn';

// 色系

// highlight
@heima-ui-highlight-color: #fff;
@heima-ui-highlight-bg: #1890ff;
@heima-ui-highlight-border-color: #1890ff;

// default
@heima-ui-default-color: #000000d9;
@heima-ui-default-bg: #fff;
@heima-ui-default-border-color: #d9d9d9;

//disabled
@heima-ui-disabled-color: #00000040;
@heima-ui-disabled-bg: #f5f5f5;
@heima-ui-disabled-border-color: #d9d9d9;

// 定义变量
:root {
  --main-color: #2980b9;
  --black: #444;
  --bg: #fff;
  --light-bg: #fff;
  --light-color: #666;
  --border: 1px solid rgba(0, 0, 0, 0.1);
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

:root[data-theme='gray'] {
  --main-color: gray;
}
:root[data-theme='red'] {
  --main-color: red;
}

:root[data-theme='orange'] {
  --main-color: orange;
}

:root[data-theme='yellow'] {
  --main-color: yellow;
}

:root[data-theme='green'] {
  --main-color: green;
}

:root[data-theme='blue'] {
  --main-color: blue;
}

:root[data-theme='purple'] {
  --main-color: purple;
}
